.cart-title {
  background-color: #0277bd;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    font-size: 17px;
    font-weight: 400;
    color: #fff;
  }
}

.items {
  padding: 20px;
  .item:last-child {
    border-bottom: none;
  }
  .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(0,0,0,0.1);
    .content-item {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;
      img {
        border-radius: 5px;
        width: 160px;
        height: 190px;
        box-shadow: 0 2px 5px rgb(0,0,0,0.2);
        background-size: cover;
      }
      p {
        font-weight: 500;
      }
    }
  }
}
