// ZSheader
.top-header {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0277BD;
  color: #fff;

  .text-menu {
    cursor: pointer;
  }
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px 0;
  .logo{
    width: 125px;
    height: 55px;

    img{
      width: 100%;
      height: 100%;
    }
  }

  .search {
    margin-left: 10px;
    width: 87%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .v-field__field{
      background-color: #ECEFF1;
    }
    .v-input__details{
      display: none;
    }
    .cart-btn{
      width: 50%;
    }
  }
}

.nav-menu {
  padding: 5px 0;
  background-color: #ECEFF1;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .menu{
    display: flex;
    align-items: center;
    gap:40px;

    .menu-item{
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 3px;
      span{
        font-size: 17px;
        color: #dbdbdb;
      }
    }
  }
  p{
    cursor: pointer;
    font-weight: 400;
    font-size: 17px;
    color: #0277BD;
  }
}

// ZSFooter
