$fontBold: 700;
$fontSemiBold: 600;
$fontMedium: 500;
$fontRegular: 400;


$defaultColor: #3b4559;
$defaultLink: #00a7b5;
$red: #f2827f;
$blue: #00a7b5;
$darkBlue: #3b4559;
$gray: #b7b7b7;
$lightGray: #f6f6f6;
$pink: #f66969;
$white: #fff;
$placeholder_color : #b7b7b7;
